.meal-card{

background:white;
padding:20px;
border-radius:18px;
width:280px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);

}


.meal-top{

display:flex;
align-items:center;
gap:15px;

}


.meal-top h2{

font-size:35px;
margin:0;

}


.meal-top h3{

margin:0;
font-size:20px;

}


.meal-top p{

margin-top:5px;
color:#777;
font-size:16px;

}



.meal-btn{

margin-top:20px;
width:100%;
padding:10px;

border:none;
border-radius:10px;

background:#111;
color:white;

cursor:pointer;

font-size:15px;

}


.meal-btn:hover{

opacity:0.8;

}